appdirs==1.4.4
asgiref==3.3.4
astroid==2.7.2
backports.entry-points-selectable==1.1.0
black==21.7b0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
cryptography==3.4.8
defusedxml==0.7.1
distlib==0.3.2
dj-database-url==0.5.0
Django==3.2
django-allauth==0.45.0
django-autoslug==1.9.8
django-crispy-forms==1.12.0
django-environ==0.4.5
django-filter==21.1
django-heroku==0.3.1
filelock==3.0.12
gunicorn==20.1.0
idna==3.2
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
mypy-extensions==0.4.3
oauthlib==3.1.1
pathspec==0.9.0
platformdirs==2.2.0
psycopg2==2.9.1
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
PyJWT==2.1.0
pylint==2.10.2
python-decouple==3.4
python-dotenv==0.19.0
python3-openid==3.2.0
pytz==2021.1
regex==2021.8.21
requests==2.26.0
requests-oauthlib==1.3.0
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
tomli==1.2.1
typing-extensions==3.7.4.3
Unipath==1.1
urllib3==1.26.6
virtualenv==20.7.2
whitenoise==5.3.0
wrapt==1.12.1
django-allauth==0.45.0
django-tempus-dominus==5.1.2.16
djangorestframework~=3.13.1