{% extends 'base_app/base.html' %}

{% block content %}

<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1 class="text-center">Business Owner Profile<span></span></h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->

<div class="container">

    {% include 'owner/profile.html' %}
    {#    {% include 'owner/statistics.html' %}#}



</div>
{% endblock %}