<div class="container rounded bg-white mt-5 mb-5">
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3">

            <table class="table table-sm table-hover ">
                <tbody>
                    <tr>
                        <th scope="row">Business Name</th>
                        <td>{{ business.business_name }}</td>
                    </tr>
                    <tr>
                    <tr>
                        <th scope="row">Referral Name</th>
                        <td>{{ referral.refer_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Phone Number</th>
                        <td>{{ referral.phone_number }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Vote Count</th>
                        <td>{{ referral.guest_referral.all.count }}
                            Vote{{ referral.guest_referral.all.count|pluralize }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Referral ID</th>
                        <td>{{ referral.ref_shortcode }}</td>
                    </tr>
{#                    {{ referral.get_absolute_url }}#}
                </tbody>
            </table>

        </div>
    </div>




    <div class="col-md-6 offset-md-3 mt-1">
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Message </label>
                <textarea class="form-control" id="exampleFormControlTextarea1"
                    rows="3">{{ referral_message }}{{ vote_url }} </textarea>
                <div class="mt-2 mb-3 text-center">
                    <small id="floatingInput" class="form-text text-muted">Share on your status and with friends by clicking on the SHARE button below.</small>

                    <input class="btn btn-primary profile-button " type="submit" value="Share on WhatsApp">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}