{% extends 'base_app/base.html' %}

{% block content %}

<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1 text-center">
                <h1>Running a Referral Contest</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Basic -->
<div class="ex-basic-1 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h2 class="mt-5 mb-3">Why do you need a Referral Contest?</h2>
                <p class="mb-3">According to <a href="https://www.statista.com/statistics/1176096/number-of-social-media-users-nigeria/">Statistica</a>,
                    WhatsApp is the most popular platform used in Nigeria, with over 90 million users. Alot of small scale businesses are now
                    capitalizing on this opportunity to increase their sales, by moving the promotion of their business to this platform.
                    Since most of the people they want to sell to are now on this platform. One of the challenges they are now facing is <b>PROPECTS</b>
                    (Contacts of people likely to buy from them).

                <p class="mb-3">Business is a game of numbers, the higher the number of people your advert reaches,
                the higher the sales you are likely to make.</p>

                <p class="mb-3">One of the ways of generating massive contact list or raising brand awareness about a product,
                    which has been proven to work by top companies in the world is by using Referral
                    Contest marketing tactics.
                    With a referral contest, you can use the power of social marketing to effectively grow your brand, promote a new product,
                    engage your customers, and make more sales.</p>

                <p>Referral Contest will help you to :</p>
                <ul>
                    <li>Raise brand awareness</li>
                    <li>Grow your contact list</li>
                    <li> Attract more customers</li>
                    <li>Promote a new product or service</li>
                    <li>Engage your existing audience with Viral WhatsApp referral Giveaways & Contests.</li>

                </ul>
<h2 class="mt-5 mb-3">We help you stage a Whatsapp based referral contest without any stress on
    your part.</h2>

                <p class="mb-3">Signup for an account, to get started</p>
                <a class="btn-solid-reg mb-5" href="{% url 'account_signup' %}">Get Started Here</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->
{% endblock %}