{% extends 'base_app/base.html' %}

{% block content %}

<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1 text-center">
                <h1>Running a Referral Contest</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Basic -->
<div class="ex-basic-1 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h2 class="mt-5 mb-3">1. What is a Referral Contest?</h2>
                <p class="mb-5">Referral contests are an effective marketing strategy because they’re highly targeted to
                    a specific audience, and use word of mouth marketing tactics to increase your contest’s reach.
                    For example, let’s say you want to promote your Clothing store. First, you’d target your contest to
                    an audience most interested in your products. To enter, that audience would have to share the
                    contest with their friends.
                    For their friends to enter, they’d have to share your contest with their friends, and so on.
                    As you can see, as more people share your contest, the number of people exposed to your brand grows.
                    That results in more users entering your giveaway, transforming them into leads and potential
                    customers.</p>


                <h2 class="mb-3">2. How to Run an Effective Referral Contest</h2>
                <p>Now that you know what a referral contest is, let’s explore the best way to run one for your
                    business. Just follow the steps below to get started.</p>
                <ul class="list-unstyled li-space-lg mb-4">
                    <li class="d-flex">
                        <div class="flex-grow-1">
                            <h2 class="mb-3">2.1. Determine Your Referral Contest Goals: </h2>
                            <p class="mb-5">The first step is to determine why you want to run a referral contest and
                                what outcome you want to achieve. Without clear contest goals, you won’t know the right
                                audience to target or how to encourage them to enter your giveaway. You could even end
                                up with results that don’t help your business in the long-term.
                                Your referral contests goals could be to…</p>
                        </div>
                    </li>
                    <div class="text-box mb-5">
                        <ul class="list-unstyled li-space-lg">
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1"><strong>Raise brand awareness</strong> <br>The first one, and
                                    the lightest of the goals you might have, is simply brand awareness. You want people
                                    to talk about your company. If you imagine you can get someone to tweet about your
                                    company, whether or not that turns into a new sign up or not, that’s probably
                                    exposing you to 5, 10, 100 new potential customers. Brand is the first and lightest
                                    goal you might have when launching a customer referral program.</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1"><strong>Boost your sales</strong> <br>Contests can increase
                                    your sales while they’re running. But to make that happen, you need to set that as
                                    your primary goal. Then build your contest around that goal.</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1"><strong>Improve customer loyalty</strong> <br>Is your business
                                    growing or do you want to further grow it? If so, you need to start thinking about
                                    retaining and attracting new potential customers to maximize your revenue. Let’s say
                                    that you own a business where you create personalized clothings. Wouldn’t it be cool
                                    to host a contest on special occassions? Imagine your customers’ excitement when
                                    they know that they could get personalized clothings for free by simply inviting
                                    their friends. Their friends also invite their friends, which brings new people into
                                    your campaign. This will potentially increase your holiday sales as well since it’s
                                    the time of the year when most people shop online.</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1"><strong> Get to know your audience better</strong> <br>You
                                    probably have not thought about this… But through a contest, you can actually do
                                    market research. It’ll allow you to collect more information about your audience.
                                    You can then use those insights to create better products and campaigns in the
                                    future.</div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1"><strong>Grow your follower base</strong> <br>The bigger your
                                    audience, the more people you can reach to promote your business. But the truth is,
                                    it will probably take a long time to grow your audience on social media if you
                                    simply post content, follow others, and wait for them to follow you back. It doesn’t
                                    matter if you want more YouTube subscribers, Instagram followers, or Facebook group
                                    members. Contests can skyrocket your social media growth in less time.</div>
                            </li>
                        </ul>
                    </div> <!-- end of text-box -->
                    </li>
                    <li class="d-flex">
                        <div class="flex-grow-1">
                            <h2 class="mb-3">2.2. Find Your Target Audience</h2>
                            <p class="mb-2">With your contest goals in place, you’ll need to find the audience who’ll
                                help you get the results you want. In this case WhatsApp. Depending on your contest
                                goals, think about where your audience hangs out on whatsApp, and how you’ll reach them
                                effectively.</p>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="flex-grow-1">
                            <h2 class="mb-3">2.3. Decide How to Encourage Contest Referrals</h2>
                            <p class="mb-2">Now that you’ve determined your contest goals and target audience, you need
                                to decide how you’ll get those people to enter your giveaway. If no-one enters your
                                contest, they won’t be able to refer their circle of friends, resulting in a giveaway
                                that doesn’t meet your business objectives. The most important incentive is the type of
                                prize you offer for your contest. You need to ensure it’s desirable and valuable enough
                                to spur your audience into action.</p>
                        </div>
                    </li>
                    <li class="d-flex">
                        <div class="flex-grow-1">
                            <h2 class="mb-3">2.4. Choose a Highly Desirable Prize</h2>
                            <p class="mb-2">People won’t make much effort to enter your referral contest if you don’t
                                offer a prize they want. For that reason, the prize you choose should be desirable to
                                your target audience, valuable, and high quality.
                                In fact, if your giveaway prize is particularly popular, it has the potential to make
                                your contest go viral, generating massive brand awareness, new contacts, and entries.
                            </p>
                        </div>
                    </li>
                    <p>Some popular prize ideas include:</p>
                    <ul>
                        <li>Large cash prizes</li>
                        <li>Free products or services</li>
                        <li>Jewelry Giveaway</li>
                        <li>New Product Release</li>
                        <a href="https://rafflepress.com/contest-prize-ideas/">For more ideas...</a>

                    </ul>
                    <li class="d-flex">
                        <div class="flex-grow-1">
                            <h2 class="mb-3">
                                2.5. Write Your Referral Contest Rules</h2>
                            <p class="mb-2">The next step in learning to run a referral contest is to plan out your
                                giveaway rules. This ensures that your contest is fair and gives participants all the
                                information they need for taking part.
                                Here are some suggestions on what to include in your giveaway rules:</p>
                        </div>
                    </li>
                    <ul>
                        <li>The minimum age of contestants</li>
                        <li>If your contest has location limits</li>
                        <li>When the contest starts and ends</li>
                        <li>What the contest prize is</li>
                        <li>How you’ll pick a winner</li>

                    </ul>

                    <li class="d-flex">
                        <div class="flex-grow-1">
                            <h2 class="mb-3">2.6. Write Your Referral Contest Rules.</h2>
                            <p class="mb-2">Procuring education on consulted assurance in do. Is sympathize he
                                expression mr no travelling. Preference he he at travelling in resolution. So striking
                                at of to welcomed resolved. Northward by described up household therefore attention.
                                Excellence decisively nay man yet impression for contrasted remarkably. There spoke
                                happy for you are out.</p>
                        </div>
                    </li>

                    <li class="d-flex">
                        <div class="flex-grow-1">
                            <h2 class="mb-3">2.7. Promote Your Referral Contest.</h2>
                            <p class="mb-2">After building your referral contest, it’s time to promote it to your target
                                audience to start getting entries. Otherwise, you won’t secure the number of referrals
                                you want, resulting in a contest that doesn’t meet your goals. The easiest way to
                                promote your contest is to share it on all your social media networks like Pinterest,
                                Facebook, and Twitter, and ask people to tag their friends in the comments.</p>
                        </div>
                    </li>

                    <li class="d-flex">
                        <div class="flex-grow-1">
                            <h2 class="mb-3">2.8. Draw a Referral Contest Winner.</h2>
                            <p class="mb-2">When your referral contest is over, you’ll need to choose a winner. The
                                Referral with the highest number of votes will win the contest.</p>
                        </div>
                    </li>

                    <li class="d-flex">
                        <div class="flex-grow-1">
                            <h2 class="mb-3">2.9. Announce the Winner of the Contest.</h2>
                            <p class="mb-2">After choosing your giveaway winner, it’s a good idea to announce the end of
                                your referral contest and the winner to everyone who took part. This will help you form
                                better connections with the new audience you gained during your contest, and thank them
                                for making it a success. You can announce your giveaway winner on your WhatsApp Account,
                                inviting them to take part in future contests. Or you can send them a DM following up
                                with participants, thanking them for entering.</p>
                        </div>
                    </li>
                </ul>



                <a class="btn-solid-reg mb-5" href="index.html">Home</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->
{% endblock %}