{% extends 'base_app/base.html' %}
{% load crispy_forms_tags%}
{% block content %}
<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1 class="text-center">Get in touch with <span> Us.</span></h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header--->
 <div class="container col-xl-8 offset-xl-2 col-md-8 col-xs-12 offset-md-2 mb-1">
        <div class="row align-items-center">
             <div class="col-md-10 offset-md-1 mx-auto col-lg-6 offset-lg-3">
            {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" id='message-alert' role="alert">
                    {% for message in messages %}
                        <b>{{ message }}</b>
                    {% endfor %}
                </div>
            {% endif %}
                <div class="text-box mt-3 mb-5">
                    <form class="signup p-4 p-md-6 border rounded-3 bg-light" id="signup_form" method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="name"
                                placeholder="Your Name" required>
                            </div>
{#                            <div class="mb-3">#}
{#                                <input type="text" class="form-control" name="phone"#}
{#                                placeholder="Your Phone Number">#}
{#                            </div>#}
                        <div class="mb-3">
                            <input type="email" class="form-control" name="email"
                            placeholder="Your e-mail" required>
                        </div>
                        <div class="mb-3">
                            <textarea name='message' rows="3" cols="42" placeholder="your message"></textarea>
                        </div>
                        </div>
                     <div class="mb-3  text-center">
                        <button class="w-50 btn btn-lg btn-primary" type="submit">Send us a Message</button>
                     </div>
{#                        <hr class="my-4">#}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}