{% load static %}
<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h1 class="h1-large">The #1 website for <span class="replace-me">WhatsApp, Referral, Contest.</span>
                    </h1>
                    <p class="p-large">Raise brand awareness, Grow your contact list, attract more customers, Promote a
                        new product or service, Engage your existing audience with Viral WhatsApp referral Giveaways &
                        Contests.</p>

                    <a class="btn-solid-lg" href="sign-up.html">Get started for free</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/header-illustration.svg' %}" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->