{% load static %}

{% url 'index' as index %}
{% url 'about' as about %}
{% url 'contact' as contact %}
{% url 'index' as index %}
{% url 'account_login' as login %}
{% url 'account_logout' as logout %}


<nav class="navbar navbar-expand fixed-top navbar-light" style="background-color: #fff2dc;">
    <div class="container">
    <a class="navbar-brand logo-image" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="alternative"></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == about %} active {% endif %}" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == contact %} active {% endif %}" href="{% url 'contact' %}">Contact Us</a>
            </li>

            {% if request.user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link {% if request.path == logout %} active {% endif %}" href="{% url 'account_logout' %}">Log Out</a>
            </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link {% if request.path == login %} active {% endif %}" href="{% url 'account_login' %}">Log in</a>
        </li>
        {% endif %}
        </ul>
        </div>
</nav>