{% load static %}
<!-- Navigation -->
        <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
            <div class="container">

                <!-- Image Logo -->
                <a class="navbar-brand logo-image" href="index.html"><img src="#" alt="alternative"></a>

                <!-- Text Logo - Use this if you don't have a graphic logo -->
                <!-- <a class="navbar-brand logo-text" href="index.html">Ioniq</a> -->

                <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ms-auto navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                        </li>
                    </ul>
                    {% if request.user.is_authenticated %}
                        <span class="nav-item">
                        <a class="btn-outline-sm" href="{% url 'account_logout' %}">Log Out</a>
                    </span>
                    {% else %}
                        <span class="nav-item">
                        <a class="btn-outline-sm" href="{% url 'account_login' %}">Log in</a>
                    </span>
                    {% endif %}

                </div> <!-- end of navbar-collapse -->
            </div> <!-- end of container -->
        </nav> <!-- end of navbar -->
        <!-- end of navigation -->