

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Business Name</label><input type="text" class="form-control" placeholder="v{{ business.business_name }}" value="{{ business.business_name }}" disabled></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="surname"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value="{{ business.phone_number }}" disabled></div>
                    <div class="col-md-12"><label class="labels">Number of Referral</label><input type="text" class="form-control" placeholder="enter address line 1" value="{{ business.refer.all.count }} Referral" disabled></div>
                    <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                </div>
                <br><br>
                <h4 class="text-right">Become a Referral</h4>
                <form method="post">
                {% csrf_token %}
                    {% if form2.non_field_errors %}
                        {% for error in form2.non_field_errors %}
                           <b>{{ error }}</b>
                        {% endfor %}

                    {% endif %}

                {{ form.as_p }}
            {#    <p>{{ form2.refer_name }}</p>#}
            {#    <p>{{ form2.phone_number }}</p>#}


                    <input type="submit" Value="Create Referral">
                </form>
                <div class="col-md-12"><label class="labels">Business Name</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Your Name: </label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">Phone Number: </label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
