{% extends "_base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="signup p-4 p-md-6 border rounded-3 bg-light" id="signup_form" method="post">
          {% csrf_token %}
        <div class="form-floating mb-3">
          {{ form | crispy }}
          {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Log in&raquo;</button>
        <hr class="my-4">
        <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
        <p>If you have not created an account yet, then please <a href="{% url 'account_signup' %}">sign up</a> first.</p>
      <a href="{% url 'account_reset_password' %}">Forgot Password? </a>


      </form>
    </div>
  </div>
</div>


{% endblock content %}
