{% extends "_base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<h1>{% trans "Password Reset" %}</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p> Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to
    reset it.</p>
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="password_reset p-4 p-md-6 border rounded-3 bg-light" id="signup_form" method="post"
                action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {{ form | crispy }}

                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Reset password</button>
                <hr class="my-4">
                <small class="text-muted">Steps to reset your password will be sent to your E-mail.</small>
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                </p>
                {% endblock %}
            </form>
        </div>
    </div>
</div>




<form class="password_reset p-4 p-md-6 border rounded-3 bg-light" id="signup_form" method="post"
    action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    <div class="form-floating mb-3">
        {{ form | crispy }}

    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Reset password</button>
    <hr class="my-4">
    <small class="text-muted">Steps to reset your password will be sent to your E-mail.</small>
</form>