{% extends "_base.html" %}


{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<h1>{% trans "Set Password" %}</h1>
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="password_set p-4 p-md-6 border rounded-3 bg-light" id="signup_form" method="post"
                action=action="{% url 'account_set_password' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'Set Password' %}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}