{% extends "base_app/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1 class="text-center">{% trans "Sign In" %}</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->

    <div class="container col-xl-8 offset-xl-2 col-md-8 col-xs-12 offset-md-2 mb-1">
        <div class="row align-items-center">
             <div class="col-md-10 offset-md-1 mx-auto col-lg-6 offset-lg-3">

                <div class="text-box mt-3 mb-5">
                {% if form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible fade show" id='message-alert' role="alert">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if messages %}
                        <div class="alert alert-danger alert-dismissible fade show" id='message-alert' role="alert">
                            {% for message in messages %}
                                <b>{{ message }}</b>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form class="signup p-4 p-md-6 border rounded-3 bg-light" id="signup_form" method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                           {% for field in form %}
                                <div class="mb-3">
                                    {{ field | as_crispy_field }}
                                </div>
                            {% endfor %}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}"/>
                            {% endif %}
                        </div>
                     <div class="mb-3  text-center">
                        <button class="w-50 btn btn-lg btn-primary" type="submit">Log in&raquo;</button>
                     </div>
                        <hr class="my-4">
                        <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
                        <small class='text-small'>If you have not created an account yet, then please <a
                                href="{% url 'account_signup' %}">sign up</a> first.</small><br>
{#                              <a href="{% url 'account_reset_password' %}">Forgot Password? </a>#}


                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}