{% extends "base_app/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1 class="text-center">{% trans "Sign Up" %}</h1>

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->


    <div class="row col-xl-10 offset-xl-1 col-md-10 mb-4">
        <div class="row align-items-center">
            <div class="col-md-10 mx-auto col-lg-5">
                <div class="text-box mt-3 mb-5">
                    {% if form.non_field_errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}

                    {% if messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {% for message in messages %}
                                <b>{{ message }}</b>
                            {% endfor %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </div> <!-- end of text-box -->
                <form class="signup p-4 p-md-6 border rounded-3 bg-light" id="signup_form" method="post">
                    {% csrf_token %}
                <p class="m3-4 mt-3">You already have an Account? Then please
                        <a class="blue" href="{% url 'account_login' %}">Log In</a></p><hr>
                    <div class="form-floating mb-3">
                        {% for field in form %}
                            <div class="mb-3">
                                {{ field | as_crispy_field }}
                            </div>
                        {% endfor %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                    <hr class="my-4">
                    <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
                    <p>Already have an account? Then please <a href="{% url 'account_login' %}"><strong>sign
                        in&raquo;</strong> </a></p>
                </form>
            </div>
        </div>
    </div>
    {% block script %}
        <script src="{% static 'js/input-mask/input-mask.min.js' %}"></script>
    {% endblock %}
{% endblock %}